<!--
=========================================================
* * Black Dashboard - v1.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/black-dashboard
* Copyright 2019 Creative Tim (https://www.creative-tim.com)


* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/static/img/favicon.png">
  <title>
    Chess Simulator
  </title>
  <!--     Fonts and icons     -->
  <link href="/static/css/google_font.css" rel="stylesheet" />
  <link href="/static/css/all.css" rel="stylesheet">
  <!-- Nucleo Icons -->
  <link href="/static/css/nucleo-icons.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="/static/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="/static/demo/demo.css" rel="stylesheet" />
  <link rel="stylesheet" href="/static/css/google_font.css">
  <link rel="stylesheet" href="/static/css/font-awesome.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body class="white-content">
  <div class="wrapper">
    <div class="sidebar">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
    -->
      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="javascript:void(0)" class="simple-text logo-mini">
            CM
          </a>
          <a href="javascript:void(0)" class="simple-text logo-normal">
            Chess Simulator
          </a>
        </div>
        <ul class="nav">
          <li>
            <a href="{{ url_for('query1') }}">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Openings Analysis</p>
            </a>
          </li>
          <li>
            <a href="{{ url_for('query2') }}">
              <i class="tim-icons icon-atom"></i>
              <p>Colourwise Analysis</p>
            </a>
          </li>
          <li class="active">
            <a href="{{ url_for('query3') }}">
              <i class="tim-icons icon-pin"></i>
              <p>Player Analysis</p>
            </a>
          </li>
          <li>
            <a href="{{ url_for('query4') }}">
              <i class="tim-icons icon-bell-55"></i>
              <p>Match Analysis</p>
            </a>
          </li>
          <li>
            <a href="{{ url_for('query5') }}">
              <i class="tim-icons icon-single-02"></i>
              <p>Favourite Players</p>
            </a>
          </li>
          <li>
            <a href="{{ url_for('query6') }}">
              <i class="tim-icons icon-puzzle-10"></i>
              <p>Favourite Matches</p>
            </a>
          </li>
          <li style="display: none;">
            <a href="{{ url_for('query7') }}">
              <i class="tim-icons icon-align-center"></i>
              <p>Chessboard</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle d-inline">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:void(0)">Chess Analyzer</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto">
              <li class="dropdown nav-item">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  <div class="photo">
                    <img src="/static/img/anime3.png" alt="Profile Photo">
                  </div>
                  <b class="caret d-none d-lg-block d-xl-block"></b>
                </a>
                <ul class="dropdown-menu dropdown-navbar">
                  <li class="nav-link"><a href="{{ url_for('home') }}" class="nav-item dropdown-item">Profile</a></li>
                  <li class="dropdown-divider"></li>
                  <li class="nav-link"><a href="{{ url_for('index') }}" class="nav-item dropdown-item">
                      Log out
                    </a></li>
                </ul>
              </li>
              <li class="separator d-lg-none"></li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-header">
                <h4 class="card-title"> Player analysis</h4>
              </div>
              <div class="card-body">
                <!-- TODO Edits from here -->
                <!-- Start form -->
                <form id="players_form">
                  <p>Select number of top players to retrieve: <input type="text" width="20px" class="form-control"
                      id="num_players" value="5"></p>
                  <br>
                  <div class="form-group">
                    <label class="mr-sm-2" for="sort1">Sort by:</label>
                    <select class="form-control" name="sort1" id="sort1">
                        <option value="player_name asc">Ascending Player</option>
                        <option value="player_name desc">Descending Player</option>
                        <option value="num_wins asc">Ascending Win </option>
                        <option value="num_wins desc">Descending Win </option>
                        <option value="num_loss asc">Ascending Loss </option>
                        <option value="num_loss desc">Descending Loss </option>
                        <option value="num_matches asc">Ascending Match </option>
                        <option value="num_matches desc">Descending Match </option>
                    </select>
                  </div>


                  <button type="submit" class="btn btn-fill btn-primary">Retrieve data</button>
                </form>

                <div class="table-responsive" id="main">

                </div>

                <br>
                <br>
                <!-- Table ends -->
                <div id="chartContainer" style="height: 300px; width: 100%;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal related things -->
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#playerModal" id="togglePlayerModal"
  style="display: none;">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="playerModal" tabindex="-1" aria-labelledby="playerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="playerModalLabel">Player Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="playerModal_body">
        <!-- Playerinfo in a table -->
        <table>
          <tbody id="player_table">
            <tr>
              <th>Name:</th>
              <th id="insert_v1"></th>
            </tr>
            <tr>
              <th>Number of wins:</th>
              <th id="insert_v2"></th>
            </tr>
            <tr>
              <th>Win %:</th>
              <th id="insert_v3"></th>
            </tr>
            <tr>
              <th>Number of losses:</th>
              <th id="insert_v4"></th>
            </tr>
            <tr>
              <th>Loss %:</th>
              <th id="insert_v5"></th>
            </tr>
            <tr>
              <th>Number of matches:</th>
              <th id="insert_v6"></th>
            </tr>
            <tr>
              <th>Number of matches as black:</th>
              <th id="insert_v7"></th>
            </tr>
            <tr>
              <th>Number of wins as black:</th>
              <th id="insert_v8"></th>
            </tr>
            <tr>
              <th>Win % as black:</th>
              <th id="insert_v9"></th>
            </tr>
            <tr>
              <th>Number of matches as white:</th>
              <th id="insert_v10"></th>
            </tr>
            <tr>
              <th>Number of wins as white:</th>
              <th id="insert_v11"></th>
            </tr>
            <tr>
              <th>Win % as white:</th>
              <th id="insert_v12"></th>
            </tr>
            <tr>
              <th>Most common openings:</th>
              <th id="insert_v13"></th>
            </tr>
            <tr>
              <th>Most common opening as black:</th>
              <th id="insert_v14"></th>
            </tr>
            <tr>
              <th>Most common opening as white:</th>
              <th id="insert_v15"></th>
            </tr>
            <tr>
              <th>Most active time of day:</th>
              <th id="insert_v16"></th>
            </tr>
            <tr>
              <th>Favourited by:</th>
              <th id="insert_v17"></th>
            </tr>

          </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <button id="addFavButton" type="button" class="btn btn-primary">Add to favourites <i
            class="fa fa-star"></i></button>
        <button id="remFavButton" type="button" class="btn btn-primary">Remove from favourites <i
            class="fa fa-star-o"></i></button>
      </div>
    </div>
  </div>
</div>

  <div class="fixed-plugin">
    <div class="dropdown show-dropdown">
      <a href="#" data-toggle="dropdown">
        <i class="fa fa-cog fa-2x"> </i>
      </a>
      <ul class="dropdown-menu">
        <li class="header-title"> Sidebar Background</li>
        <li class="adjustments-line">
          <a href="javascript:void(0)" class="switch-trigger background-color">
            <div class="badge-colors text-center">
              <span class="badge filter badge-primary active" data-color="primary"></span>
              <span class="badge filter badge-info" data-color="blue"></span>
              <span class="badge filter badge-success" data-color="green"></span>
            </div>
            <div class="clearfix"></div>
          </a>
        </li>
        <li class="adjustments-line text-center color-change">
          <span class="color-label">LIGHT MODE</span>
          <span class="badge light-badge mr-2"></span>
          <span class="badge dark-badge ml-2"></span>
          <span class="color-label">DARK MODE</span>
        </li>
      </ul>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="/static/js/core/jquery.min.js"></script>
  <script src="/static/js/core/popper.min.js"></script>
  <script src="/static/js/core/bootstrap.min.js"></script>
  <script src="/static/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Chart JS -->
  <script src="/static/js/plugins/chartjs.min.js"></script>

  <!-- My files -->
  <script src="{{ url_for( 'static', filename='js/query3.js' ) }}"></script>
  <link href="/static/css/my.css" rel="stylesheet" />
  <script type="text/javascript" src="/static/js/canvasjs.js"></script>

  <!--  Notifications Plugin    -->
  <script src="/static/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->

  <!-- <script src="/static/demo/demo.js"></script> -->
  <script>
    $(document).ready(function () {
      $().ready(function () {
        $sidebar = $('.sidebar');
        $navbar = $('.navbar');
        $main_panel = $('.main-panel');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');
        sidebar_mini_active = true;
        white_color = false;

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();



        $('.fixed-plugin a').click(function (event) {
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .background-color span').click(function () {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data', new_color);
          }

          if ($main_panel.length != 0) {
            $main_panel.attr('data', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data', new_color);
          }
        });

        $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function () {
          var $btn = $(this);

          if (sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            sidebar_mini_active = false;
            blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
          } else {
            $('body').addClass('sidebar-mini');
            sidebar_mini_active = true;
            blackDashboard.showSidebarMessage('Sidebar mini activated...');
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function () {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function () {
            clearInterval(simulateWindowResize);
          }, 1000);
        });

        $('.switch-change-color input').on("switchChange.bootstrapSwitch", function () {
          var $btn = $(this);

          if (white_color == true) {

            $('body').addClass('change-background');
            setTimeout(function () {
              $('body').removeClass('change-background');
              $('body').removeClass('white-content');
            }, 900);
            white_color = false;
          } else {

            $('body').addClass('change-background');
            setTimeout(function () {
              $('body').removeClass('change-background');
              $('body').addClass('white-content');
            }, 900);

            white_color = true;
          }


        });

        $('.light-badge').click(function () {
          $('body').addClass('white-content');
        });

        $('.dark-badge').click(function () {
          $('body').removeClass('white-content');
        });
      });
    });
  </script>
</body>

</html>